.but{background-color: #ff3300;
     border-radius: 20px;}
     .sej{color: black;
           font-color: black;
       }
           .Get { background-color: #ff3300; 
                  margin-left: 250px;
                  border-radius: 20px;
                  color: white;}
        .ss{padding-bottom: 20px;}
        .c1{padding-top: 50px;}
        .c11{color: light-gray;}
        .ton{background-color: #ff3300;
             border-radius: 20px;
             color: white;
             border: none;
             padding: 10px;}
         .ton1{background-color: #ff3300;
             border-radius: 20px;
             color: white;
             border: none;
             padding: 5px 15px;}
          .one{padding-left: 80px;
               padding-top: 0px;
               margin-top: -30px;}
          .but1{background-color: #ff3300;
             border-radius: 20px;
             color: white;
             border: none;
             padding: 10px 20px;}
          .two{padding-left: 80px;
               padding-top: 0px;
               margin-top: -30px;}
          .three{padding-left: 80px;
               padding-top: 0px;
               margin-top: -30px;}
            .img1{background-color: #f0ffff;
                  margin:5px;
                  width: 370px;
                  height: 340px;
                  margin-bottom: 50px;}
            .anisha{
            	    padding-left: 90px;
                    padding-top: -90px;
                    }
             
              .ani1{
              	   padding-left: 110px;
                   padding-top: 10px;}
              .ani2{padding-left:;
                   padding-top: 10px;}
            .sp1{background-color: #ff3300;
                 border-radius: 20px;
                 padding: 10px 20px;
                 color: white;
                 margin-top: 100px;
                 margin-bottom: 50px}
            .sp2{background-color: #ff3300;
                 width: 100%;
                 height: 150px;
                 padding-left: 80px;
                 padding-top: 50px;
                 color: white;
                 margin-top: 50px;
                 }
            .sp3{background-color: white;
                 color: #ff3300;
                 border-radius: 20px;
                 padding: 10px 20px;
                 float: right;
                 margin-top: -80px;
                 margin-right: 80px;}
            .foot0{background-color: black;}
            .foot3{color: white;
                   list-style-type: none;
                   padding-top: 20px;}
            .foot4{color: white;
                   list-style-type: none;
                   padding-top: 20px;}
            ul{list-style-type: none;}
            .foot1{background-color: white;
                   padding-top: 10px;}
            .foot2{
            	padding-top: 60px;
                   padding-left: 10px;}
            .foot7{padding-top: 20px;}
            .foot5{border-radius: 20px;}
            .foot6{background-color: #ff3300;
                   border-radius: 20px;
                   color: white;
                   border: none;
                   padding: 10px 15px;}
